@charset "utf-8";

@media screen and (max-width: 1300px) {
    #header .menu_bar .inner .menu_wrap .title_logo .web_header_logo img{display: none;}
    #header .menu_bar .inner .menu_wrap .title_logo .mobile_header_logo img{display: block;}
    #header .menu_bar .inner .menu_wrap .menu_list>ul>li>a{font-size: 1.2em;}

    
}

@media screen and (max-width: 1000px) {
    #header .menu_bar .inner .menu_wrap .title_logo .mobile_header_logo img{
        left: 30px;
        top: 26%;
        width: 35px;
        height: 35px;
    }
    #header .menu_bar .inner .menu_wrap .menu_list>ul>li>.shop_2dep{
        top: 65px;
        left: -12px;
        width: 110px;
        display: none;
    }
    #header .menu_bar .inner .menu_wrap .menu_list>ul>li>a{font-size: 1.1em; padding: 30px 17px; letter-spacing: .5px;}

    #header.shrink .menu_bar .inner .menu_wrap .menu_list > ul > li .shop_2dep{
        width: 100px;
        height: 190px;
        padding: 10px 20px;
        top: 50px;
    }

    #main .sec_1 .sec1_textWrap .sec1_text1 strong{font-size: 1.1em}
    #main .sec_1 .sec1_textWrap .sec1_text2 p{font-size: 1.1em; letter-spacing:  -.09em};
}

@media screen and (max-width: 810px) {
    #header{display: none;}
    .mobile_menu{display: block;}
    #header .top_bar{display: none;}
    #header .menu_bar .inner .menu_wrap .menu_list>ul>li>a{font-size: 1em; padding: 30px 15px; letter-spacing: .5px;}
    #header .menu_bar .inner .menu_wrap .menu_list>ul>li>.shop_2dep{
        top: 65px;
        left: -16px;
        width: 100px;
    }
    #header .menu_bar .inner .menu_wrap .menu_list>ul>li>.shop_2dep li a{font-size: 13px;}

    #main{margin-top: 100px; background: rebeccapurple;}

    #main .sec_1 .sec1_textWrap{padding: 1.8%;}
    #main .sec_1 .sec1_textWrap .sec1_text1 strong{font-size: 1em}
    #main .sec_1 .sec1_textWrap .sec1_text2 p{font-size: 0.99em; letter-spacing:  -.09em};

}